<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="vie" id="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's your personality?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">What's your personality?</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form method="POST">
                <div class="columns">
                    <div class="column is-offset-12"><button class="button">Submit</button></div>
                </div>
                <div class="columns">
                    <div class="column is-half"></div>
                    <div class="column" style="text-align:center;"><strong>Very Inaccurate</strong></div>
                    <div class="column" style="text-align:center;"><strong>Moderately Inaccurate</strong></div>
                    <div class="column" style="text-align:center;"><strong>Neither Accurate Nor Inaccurate</strong></div>
                    <div class="column" style="text-align:center;"><strong>Moderately Accurate</strong></div>
                    <div class="column" style="text-align:center;"><strong>Very Accurate</strong></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am the life of the party.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Feel little concern for others.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am always prepared.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Get stressed out easily.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Have a rich vocabulary.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5" id="q5" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5" id="q5" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5" id="q5" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5" id="q5" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5" id="q5" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Don't talk a lot.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6" id="q6" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6" id="q6" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6" id="q6" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6" id="q6" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6" id="q6" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am interested in people.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7" id="q7" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7" id="q7" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7" id="q7" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7" id="q7" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7" id="q7" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Leave my belongings around.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8" id="q8" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8" id="q8" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8" id="q8" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8" id="q8" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8" id="q8" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am relaxed most of the time.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9" id="q9" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9" id="q9" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9" id="q9" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9" id="q9" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9" id="q9" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Have difficulty understanding abstract ideas.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Feel comfortable around people.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Insult people.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Pay attention to details.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Worry about things.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Have a vivid imagination.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Keep in the background.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Sympathize with others' feelings.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Make a mess of things.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Seldom feel blue.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19" id="q1" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19" id="q1" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19" id="q1" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19" id="q1" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19" id="q1" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am not interested in abstract ideas.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Start conversations.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am not interested in other people's problems.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Get chores done right away.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am easily disturbed.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Have excellent ideas.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Have little to say.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Have a soft heart.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Often forget to put things back in their proper place.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Get upset easily.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29" id="q2" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29" id="q2" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29" id="q2" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29" id="q2" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29" id="q2" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Do not have a good imagination.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Talk to a lot of different people at parties.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am not really interested in others.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Like order.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Change my mood a lot.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am quick to understand things.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Don't like to draw attention to myself.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Take time out for others.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Shirk my duties.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Have frequent mood swings.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39" id="q3" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39" id="q3" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39" id="q3" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39" id="q3" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39" id="q3" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Use difficult words.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Don't mind being the center of attention.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Feel others' emotions.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Follow a schedule.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Get irritated easily.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Spend time reflecting on things.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am quiet around strangers.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Make people feel at ease.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am exacting in my work.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Often feel blue.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49" id="q4" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49" id="q4" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49" id="q4" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49" id="q4" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49" id="q4" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-half"><strong>Am full of ideas.</strong></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50" id="q5" value="1"> 1</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50" id="q5" value="2"> 2</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50" id="q5" value="3"> 3</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50" id="q5" value="4"> 4</label></div>
                    <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50" id="q5" value="5"> 5</label></div>
                </div>
                <div class="columns">
                    <div class="column is-offset-12"><button class="button">Submit</button></div>
                </div>
            </form>
        </div>
    </section>
</body>