<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's your personality?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">What's your personality?</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-12"><button class="button">Submit</button></div>
            </div>
            <div class="columns">
                <div class="column is-half"></div>
                <div class="column" style="text-align:center;"><strong>Very Inaccurate</strong></div>
                <div class="column" style="text-align:center;"><strong>Moderately Inaccurate</strong></div>
                <div class="column" style="text-align:center;"><strong>Neither Accurate Nor Inaccurate</strong></div>
                <div class="column" style="text-align:center;"><strong>Moderately Accurate</strong></div>
                <div class="column" style="text-align:center;"><strong>Very Accurate</strong></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am the life of the party.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q1"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Feel little concern for others.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q2"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am always prepared.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q3"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Get stressed out easily.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q4"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Have a rich vocabulary.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q5"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Don't talk a lot.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q6"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am interested in people.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q7"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Leave my belongings around.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q8"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am relaxed most of the time.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q9"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Have difficulty understanding abstract ideas.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q10"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Feel comfortable around people.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q11"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Insult people.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q12"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Pay attention to details.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q13"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Worry about things.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q14"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Have a vivid imagination.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q15"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Keep in the background.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q16"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Sympathize with others' feelings.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q17"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Make a mess of things.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q18"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Seldom feel blue.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q19"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am not interested in abstract ideas.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q20"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Start conversations.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q21"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am not interested in other people's problems.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q22"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Get chores done right away.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q23"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am easily disturbed.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q24"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Have excellent ideas.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q25"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Have little to say.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q26"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Have a soft heart.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q27"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Often forget to put things back in their proper place.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q28"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Get upset easily.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q29"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Do not have a good imagination.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q30"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Talk to a lot of different people at parties.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q31"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am not really interested in others.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q32"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Like order.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q33"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Change my mood a lot.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q34"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am quick to understand things.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q35"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Don't like to draw attention to myself.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q36"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Take time out for others.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q37"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Shirk my duties.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q38"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Have frequent mood swings.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q39"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Use difficult words.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q40"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Don't mind being the center of attention.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q41"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Feel others' emotions.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q42"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Follow a schedule.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q43"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Get irritated easily.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q44"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Spend time reflecting on things.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q45"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am quiet around strangers.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q46"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Make people feel at ease.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q47"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am exacting in my work.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q48"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Often feel blue.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q49"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-half"><strong>Am full of ideas.</strong></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50"> 1</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50"> 2</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50"> 3</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50"> 4</label></div>
                <div class="column" style="text-align:center;"><label class="radio"><input type="radio" name="q50"> 5</label></div>
            </div>
            <div class="columns">
                <div class="column is-offset-12"><button class="button">Submit</button></div>
            </div>
        </div>
    </section>
</body>